<div class="container">
    <h2>Explain Code</h2>
    <textarea rows="8" [(ngModel)]="code" placeholder="Paste you code here"></textarea>

    <br/> <br/>

    <select [(ngModel)]="provider">
        <option value="mock">Mock</option>
        <option value="public">Public</option>
        <option value="hf">HuggingFace</option>
    </select>

    <br/> <br/>

    <button (click)="explain()" [disabled]="loading">{{loading ? 'Loading...' : 'Explain Code'}}
    </button>

    <div *ngIf="loading" class="loader">Loading Ai Response</div>

    <br/> <br/>

    <div *ngIf="error" class="error-box">{{error}}</div>

    <div class="result-box" *ngIf="result">
        <pre>{{result}}</pre>
    </div>

</div>