<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="SpringBootNativeSettings">
    <option name="linkedExternalProjectsSettings">
      <NativeProjectSettings>
        <option name="externalProjectPath" value="$PROJECT_DIR$/src/main/java/com/ai/codeexplainer/applicationstarter/CodeExplainerApplication.java" />
        <option name="qualifiedMainClassName" value="com.ai.codeexplainer.applicationstarter.CodeExplainerApplication" />
        <option name="runConfigurationName" value="CodeExplainerApplication" />
        <option name="runConfigurationType" value="APPLICATION" />
      </NativeProjectSettings>
    </option>
  </component>
</project>